{% extends 'rango/base.html' %}
{% load staticfiles %}


{% block title_block %}
	About
{% endblock %}

{% block body_block %}

	<h1> Rango says here is the about page </h1>
	
	<div>
	     Did you know that... <br/>
	     <strong>{{boldmessage}}</strong> <br/>
	     are all types of lizards ?

	</div> 
	
	<div>

		<img src="{% static "images/lizard.jpg" %}"
			alt ="Picture of Lizard"/>
	</div>
	
	<div>
		<img src="{{MEDIA_URL}}cat.jpg" 
			alt="Picture of a cat"/>
	</div>

	<p>visits: {{ visits }}</p>
	<h3>This tutorial has been put together by John Devine </h3>	
{% endblock %}