1 <ul>
2 {% if cats %}
3   {% for c in cats %}
4
        {% if c == act_cat %}
            <li>
            <strong>
                <a href="{% url 'show_category' c.slug %}">{{ c.name }}</a>
            </strong>
            </li>
        {% else %}
            <li>
                <a href="{% url 'show_category' c.slug %}">{{ c.name }}</a>
            </li>
        {% endif %}

5   {% endfor %}
6 {% else %}
7   <li> <strong>There are no categories present.</strong></li>
8 {% endif %}
9 </ul>
